* {
  font-family: "Fira Sans Semibold", "FiraCode Nerd Font Propo", FontAwesome, Roboto, Helvetica, Arial, sans-serif;
}

window#waybar {
  background-color: rgba(0, 0, 0, 0.8);
  border-bottom: 0px solid #ffffff;
  background: transparent;
  transition-property: background-color;
  transition-duration: .5s;
}

/* -----------------------------------------------------
 * Workspaces 
 * ----------------------------------------------------- */

#workspaces {
  background: @workspacesbackground1;
  margin: 2px 1px 3px 1px;
  padding: 0px 1px;
  border-radius: 15px;
  border: 0px;
  font-weight: bold;
  font-style: normal;
  opacity: 0.8;
  font-size: 16px;
  color: @text;
}

#workspaces button {
  padding: 0px 5px;
  min-width: 15px;
  margin: 4px 3px;
  border: 0px;
  color: @workspaces;
  background-color: @workspacesbackground2;
  transition: all 0.3s ease-in-out;
  opacity: 0.4;
}

#workspaces button.active {
  color: @active;
  background: @workspacesbackground2;
  min-width: 40px;
  transition: all 0.3s ease-in-out;
  opacity: 1.0;
}

#workspaces button.urgent {
  background: @workspacesbackground_urgent;
}

#workspaces button:hover {
  background: @workspacesbackground2;
  border-radius: 15px;
  opacity: 0.7;
}

/* -----------------------------------------------------
 * Tooltips
 * ----------------------------------------------------- */

tooltip {
  border-radius: 16px;
  background-color: @backgroundlight;
  opacity: 0.9;
  padding: 20px;
  margin: 0px;
}

tooltip label {
  color: @textcolor2;
}

/* -----------------------------------------------------
 * Window
 * ----------------------------------------------------- */

#window {
  background: @backgroundlight;
  margin: 5px 15px 5px 0px;
  padding: 2px 10px 0px 10px;
  border-radius: 12px;
  color: @window;
  font-size: 16px;
  font-weight: normal;
  opacity: 0.8;
}

window#waybar.empty #window {
  background-color: transparent;
}

/* -----------------------------------------------------
 * Taskbar
 * ----------------------------------------------------- */

#taskbar {
  background: @backgroundlight;
  margin: 3px 15px 3px 0px;
  padding: 0px;
  border-radius: 15px;
  font-weight: normal;
  font-style: normal;
  opacity: 0.8;
  border: 3px solid @backgroundlight;
}

#taskbar button {
  margin: 0;
  border-radius: 15px;
  padding: 0px 5px 0px 5px;
}

#taskbar.empty {
  background: transparent;
  border: 0;
  padding: 0;
  margin: 0;
}

/* -----------------------------------------------------
 * Modules
 * ----------------------------------------------------- */

.modules-left>widget:first-child>#workspaces {
  margin-left: 0;
}

.modules-right>widget:last-child>#workspaces {
  margin-right: 0;
}

/* -----------------------------------------------------
 * Custom Quicklinks
 * ----------------------------------------------------- */

#custom-system {
  font-size: 20px;
  font-weight: bold;
  opacity: 0.8;
  color: @iconcolor;
}

#custom-quicklink1,
#custom-quicklink2,
#custom-quicklink3,
#custom-quicklink4,
#custom-quicklink5,
#custom-quicklink6,
#custom-quicklink7,
#custom-quicklink8,
#custom-quicklink9,
#custom-quicklink10 {
  margin-right: 24px;
}

#custom-tools {
  margin-right: 12px;
}

#custom-hypridle.active {
  color: @iconcolor;
}

#custom-hypridle.notactive {
  color: #dc2f2f;
}

#custom-ml4w-welcome {
  margin-right: 12px;
  background-image: url("../assets/ml4w-icon.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  padding-right: 20px;
}

#custom-fortune {
  margin-right: 16px;
  background-image: url("./assets/openai.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  padding-right: 18px;
  opacity: 0.8;
}

/* -----------------------------------------------------
 * Idle Inhibator
 * ----------------------------------------------------- */

#idle_inhibitor {
  margin-right: 15px;
  font-size: 22px;
  font-weight: bold;
  opacity: 0.8;
  color: @iconcolor;
}

#idle_inhibitor.activated {
  margin-right: 15px;
  font-size: 20px;
  font-weight: bold;
  opacity: 0.8;
  color: #dc2f2f;
}

/* -----------------------------------------------------
 * Custom Modules
 * ----------------------------------------------------- */

#submap {
  background-color: @backgrounddark;
  font-size: 16px;
  color: @textcolor1;
  border-radius: 15px;
  padding: 0px 10px 0px 10px;
  margin: 3px 17px 3px 0px;
  opacity: 0.8;
  border: 3px solid @bordercolor;
  transition-duration: 0.3s;
}

#submap.Resize {
  color: white;
  background-color: #946EDE;
}

#submap.Ignore {
  color: white;
  background-color: #FF757F;
}

#submap.Group {
  color: white;
  background-color: #DD88D7;
}

#submap.Mouse {
  color: white;
  background-color: #189F3C;
}

/* -----------------------------------------------------
 * Custom Exit
 * ----------------------------------------------------- */

#custom-exit {
  margin: 0px 22px 0px 0px;
  padding: 0px;
  font-size: 20px;
  color: @exit;
  opacity: 0.8;
}

/* -----------------------------------------------------
 * Custom Updates
 * ----------------------------------------------------- */

#custom-updates {
  background-color: @backgroundlight;
  font-size: 16px;
  color: @textcolor2;
  border-radius: 15px;
  padding: 2px 10px 0px 10px;
  margin: 5px 15px 5px 0px;
  opacity: 0.8;
}

#custom-updates.green {
  background-color: @backgroundlight;
}

#custom-updates.yellow {
  background-color: #ff9a3c;
  color: #FFFFFF;
}

#custom-updates.red {
  background-color: #dc2f2f;
  color: #FFFFFF;
}

/* -----------------------------------------------------
 * Hardware Group
 * ----------------------------------------------------- */

#disk,
#memory,
#cpu,
#temperature {
  margin-left: 10px;
  padding: 0px;
  font-size: 16px;
  color: @iconcolor;
}

#temperature {
  margin-right: 15px;
}

#temperature.critical {
  color: @red;
}

/* -----------------------------------------------------
 * Clock
 * ----------------------------------------------------- */

#clock {
  background-color: @backgrounddark;
  font-size: 16px;
  color: @clock;
  border-radius: 15px;
  padding: 1px 10px 0px 10px;
  margin: 3px 0px 3px 0px;
  opacity: 0.8;
  border: 3px solid @bordercolor;
}

/* -----------------------------------------------------
 * Backlight
 * ----------------------------------------------------- */

#backlight {
  background-color: @backgroundlight;
  font-size: 16px;
  color: @textcolor2;
  border-radius: 15px;
  padding: 2px 10px 0px 10px;
  margin: 5px 15px 5px 0px;
  opacity: 0.8;
}

/* -----------------------------------------------------
 * Pulseaudio
 * ----------------------------------------------------- */

#pulseaudio {
  background-color: @audio-b;
  font-size: 16px;
  color: @audio;
  border-radius: 15px;
  padding: 2px 10px 0px 10px;
  margin: 5px 15px 5px 0px;
  opacity: 0.8;
}

#pulseaudio.muted {
  background-color: @backgrounddark;
  color: @textcolor1;
}

/* -----------------------------------------------------
 * Network
 * ----------------------------------------------------- */

#network {
  background-color: @network-b;
  font-size: 16px;
  color: @network;
  border-radius: 15px;
  padding: 2px 10px 0px 10px;
  margin: 5px 15px 5px 0px;
  opacity: 0.8;
}

/*
#network.ethernet {
    background-color: @backgroundlight;
    color: @textcolor2;
}

#network.wifi {
    background-color: @backgroundlight;
    color: @textcolor2;
}
*/

/* -----------------------------------------------------
 * Bluetooth
 * ----------------------------------------------------- */

#bluetooth,
#bluetooth.on,
#bluetooth.connected {
  background-color: @backgroundlight;
  font-size: 16px;
  color: @textcolor2;
  border-radius: 15px;
  padding: 2px 10px 0px 10px;
  margin: 5px 15px 5px 0px;
  opacity: 0.8;
}

#bluetooth.off {
  background-color: transparent;
  padding: 0px;
  margin: 0px;
}

/* -----------------------------------------------------
 * Battery
 * ----------------------------------------------------- */

#battery {
  background-color: @backgroundlight;
  font-size: 16px;
  color: @textcolor2;
  border-radius: 15px;
  padding: 2px 15px 0px 10px;
  margin: 5px 15px 5px 0px;
  opacity: 0.8;
}

#battery.charging,
#battery.plugged {
  color: @textcolor2;
  background-color: @backgroundlight;
}

@keyframes blink {
  to {
    background-color: @backgroundlight;
    color: @textcolor2;
  }
}

#battery.critical:not(.charging) {
  background-color: #f53c3c;
  color: @textcolor3;
  animation-name: blink;
  animation-duration: 0.5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

/* -----------------------------------------------------
 * Tray
 * ----------------------------------------------------- */

#tray {
  padding: 0px 15px 0px 0px;
}

#tray>.passive {
  -gtk-icon-effect: dim;
}

#tray>.needs-attention {
  -gtk-icon-effect: highlight;
}
