* {
  all: unset;
  font-size: 1.3rem;
  color: #E0F3FF;
}

window {
  background: transparent
}

.match:last-child {
  margin-bottom: 0;
}

.match:first-child {
  margin-top: 0;
}

row.match {
  border-radius: 10px;
  padding: 1rem;
}

row.match:hover, row.match:selected  {
  background: #2C3C6F;
}

row.match .description {
  font-size: 0.8rem;
  color: #88A
}

text {
  background: #24283B;
  border-radius: 10px;
  padding: 1rem;
  border: 1px solid #9CA5CB;
}

list.plugin {
  margin-top: 1rem;
  background: #24283B;
  padding: 4px;
  border-radius: 10px;
  border: 1px solid #9CA5CB;
}

box.main {
  padding: 50px 200px;
  background: transparent;
  border-radius: 10px;
}
